body{
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
}
h1{
    font-family: "Parisienne";
    font-size: 3em;
text-align: center;
color: darkgoldenrod;
margin-bottom: 5px; }

#taza{
    width: 10%;
    border-radius: 50%;
    
}
#cont{
    text-align: center;
}
#eslogan{
    margin: auto;
    font-family: "Caveat", cursive;
    text-align: center;
    font-size: 2em;
    color: cornsilk;
    border: solid 2px cornsilk;
    width: 40%;
}
h2{
    font-family: "Pacifico";
    color: #ffe4c4;
}
a{  text-decoration: none;}
a:link{ color: white;}
a:hover{ font-weight: bold;}
a:active{color: darkgoldenrod;}
ul{
    font-size: 1.5em;
}
.texto-normal{
      font-family: "Satisfy";
      font-size: 1.2em;
      color: #ffe4c4;
      line-height: 2;
      padding: 30px;
      text-align: justify;
}
ul li { color: white;
    font-family: "Pacifico";
    font-size: 1.5em; }
