body{
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
}
h1{
    font-family: "Parisienne";
    font-size: 3em;
text-align: center;
color: darkgoldenrod;
margin-bottom: 5px; }

#taza{
    width: 10%;
    border-radius: 50%;
    
}
#cont{
    text-align: center;
}
#eslogan{
    margin: auto;
    font-family: "Caveat", cursive;
    text-align: center;
    font-size: 2em;
    color: cornsilk;
    border: solid 2px cornsilk;
    width: 40%;
}
h2{
    font-family: "Pacifico";
    color: #ffe4c4;
}
a{  text-decoration: none;}
a:link{ color: white;}
a:hover{ font-weight: bold;}
a:active{color: darkgoldenrod;}
ul{
    font-size: 1.5em;
}
.texto-normal{
      font-family: "Satisfy";
      font-size: 1.2em;
      color: #ffe4c4;
      line-height: 2;
      padding: 30px;
      text-align: justify;
}
ul li { color: white;
    font-family: "Pacifico";
    font-size: 1.5em; }
    .fotocarta{
        width: 200px;
        height: 200px;
    }
    .categoria {
        background-color: darkgoldenrod;
        font-size: 2em;
        text-shadow: 3px 3px white;
    }
 table, td, th{
        border: 3px solid darkgoldenrod;
        border-collapse: collapse;
        vertical-align: center ;
        width: 50%;
        padding: 20px;
    }
table{
    background-color: cornsilk;
    font-family: "Satisfy";
    font-size: 1.5em;
    text-align: center;
    margin: auto;

}
fieldset{
    border: solid 2px darkgoldenrod;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 30px;
    background-color: black;
}
label{
     font-family: "Caveat";
     color: cornsilk;
     font-size: 1.5em;
}

